{% extends "layout.html" %}
{% block body %}
<h1>動画テストページ</h1>

<!-- komagen_sd_clientの起動 --!>
<button type="submit">実行</button>

<!-- 実行ボタン --!>
<button onclick="startVideo()">Start</button>
<br />

<!-- カメラの起動 --!>
<center>
	<video id="local_video" autoplay style="width: 100vmin; height: 100vim; border: 1px solid black; "></video>
</center>
<!-- loopの開始 --!>

	<!-- komagen_sd_clientからの返り値の受け取り--!>

	<!-- gifの読み込み --!>
{% for content in contents %}
	{% if content.title == "VisitorsBell" %}
	<script type="text/javascript"><!--
		var myurl="../static/gif/";
		var mysrc="VisitorBell3.gif";
		var tp=150;
		var lp=260;
		var w=300;
		var h=200;
		var wid="15vmin";
		var hei="auto";
		var opa="0.9"
		var pos="absolute";
		var sss="";

		var xpx = Math.floor(w*Math.random())+lp; 
		var ypx = Math.floor(h*Math.random())+tp;
		sss="<div style='position:"+pos+"; left:"+xpx+"px; top:"+ypx+"px; opacity:"+opa+";'><img src="+myurl+"VisitorsBell3.gif style='width: 50vmin; height: auto;'></div>";
 		document.write(sss);
	// --></script>
	{% endif %}
{% endfor %}

	<!-- loopの終了 --!>

{% endblock %}
